
/* style.css */

/** {
	padding: 0;
	margin: auto;
}*/

code {
	font-size: 14pt;
}

div[id="console"] {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-indent: 0;
	font-family: monospace;
	overflow: auto;
}

div[id="cmdlinebox"] {
	margin-left: auto;
	margin-right: auto;
}

div[id="cmdline"] {
	font-family: monospace;
}

div[id="man"] {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}